
html, body {background: #3AAFA9;margin: 0;}

h1,h2,p{
    color:#17252A
}

h1{
    font-size: 3em;
    text-align: center;
}

img.screenshot{
    max-width:100%;
}

h2{
    font-size: 2em;
    margin-top: 0;
    color: #e62b1e;
}

.row{
    margin: 0.5em 0.5em;
    padding: 1em;
    background-color: #DEF2F1;
    border-radius: 1em;
}
.col-md-6{
    height:40vh;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}